{% extends 'admin.html.twig' %}
{% block body %}
    <div class="container">
        <div action="{{path('admin_medias_upload')}}" id="dropfile" class="dz-progress dropzone">
            <div class="progress-bar-loading"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
    jQuery(document).ready(function($) {

        Dropzone.autoDiscover = false;
        var progressBar = "progress-bar-loading";

        var uploadZone = new Dropzone("#dropfile", {
            autoDiscover : false,
            uploadMultiple : false,
            maxFiles: 1,
            acceptedFiles: "image/jpeg,image/png,image/gif",
            previewTemplate:'<div id="preview-template" style="display: none;"></div>',
            dictDefaultMessage : 'Cliquez/déposez une image depuis votre ordinateur ',
            // maxFilesize: 8,
            success: function(file, response){
                var json = $.parseJSON(response);

                $('.' + progressBar).css('width','0%');
                $('.' + progressBar).hide();
                console.log(response);

            },
            uploadprogress: function(file, progress, bytesSent) {
                // console.log(progress);
                // console.log(bytesSent);
                $('.' + progressBar).show();
                $('.' + progressBar).css('width',progress/2+'%');
            }
        });
    });
    </script>
{% endblock %}