<ul class="nav nav-pills nav-stacked side-navigation">
    <li>
        <h3 class="navigation-title">Navigation</h3>
    </li>
    <li>
        <a href="/">
            <i class="fa fa-angle-left"></i>
            <span>Retourner au site</span>
        </a>
    </li>
    <li class="{% if 'dashboard' in app.request.attributes.get('_route') %} active{% endif %}">
        <a href="">
            <i class="fa fa-home"></i>
            <span>Tableau de bord</span>
        </a>
    </li>
    <li class="menu-list{% if 'reservation' in app.request.attributes.get('_route') %} active{% endif %}">
        <a href="">
            <i class="fa fa-cog"></i>
            <span>Gérer</span>
        </a>
        <ul class="child-list">
            <li>
                <a href="{{path("admin_dashboard_users")}}">
                  <i class="fa fa-user-circle"></i>
                    Utilisateurs
                </a>
            </li>
            <li>
                <a href="{{path("admin_dashboard_publications")}}">
                  <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                    Publications
                </a>
            </li>
            <li>
                <a href="{{path("admin_dashboard_comments")}}">
                  <i class="fa fa-comment" aria-hidden="true"></i>
                    Commentaires
                </a>
            </li>
        </ul>
    </li>
</ul>
