{% extends 'admin.html.twig' %}

{% block body %}
<table class="table table-striped table-hover">
  <thead>
    <th class="id">ID</th>
    <th class="comment_user">Utilisateur</th>
    <th class="text">Texte</th>
    <th class="actions">Actions</th>
  </thead>
  <tbody>

    {% for comment in pagination %}
      <tr>
        <td>{{comment.id}}</td>
        <td>{{comment.user.username}}</td>
        <td>{{comment.content}}</td>
        <td>
          <a class="btn btn-danger" href="{{path("admin_dashboard_comments_supp",{idpubli:comment.publication.id, idcomment:comment.id})}}">Supprimer</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</div>

</table>

<div class="container">
  <div class="navigation">
      {{ knp_pagination_render(pagination) }}
  </div>
</div>

{% endblock %}