{% extends 'admin.html.twig' %}

{% block title %} {% endblock %}

{% block body %}
 <h3>Bienvenue dans votre espace administrateur, vous pouvez gérer le site à l'aide du menu présent à gauche.</h3>
{% endblock %}

{% block javascripts %}{% endblock %}
