{% extends 'admin.html.twig' %}

{% block body %}
<table class="table table-striped table-hover">
  <thead>
    <th class="id">ID</th>
    <th class="text">Texte</th>
    <th class="img">Image</th>
    <th class="actions">Actions</th>
  </thead>
  <tbody>

    {% for publication in pagination %}
      <tr>
        <td>{{publication.id}}</td>
        <td>{{publication.content}}</td>
        <td>{{publication.filename}}</td>
        <td>
          <a class="btn btn-info" href="{{path("admin_dashboard_comments_publication",{id:publication.id})}}">Commentaires</a>
          {% if publication.display == 1 %}
            <a class="btn btn-warning" href="{{path("admin_dashboard_publications_display",{id:publication.id})}}">Cacher</a>
          {% else %}
            <a class="btn btn-success" href="{{path("admin_dashboard_publications_display",{id:publication.id})}}">Afficher</a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</div>

</table>

<div class="container">
  <div class="navigation">
      {{ knp_pagination_render(pagination) }}
  </div>
</div>



{% endblock %}
