{% extends 'admin.html.twig' %}

{% block body %}
<table class="table table-striped table-hover">
  <thead>
    <th>ID</th>
    <th>Pseudo</th>
    <th>Prénom</th>
    <th>Nom</th>
    <th>Adresse mail</th>
    <th>Actions</th>
  </thead>
  <tbody>

    {% for user in pagination %}
      <tr>
        <td>{{user.id}}</td>
        <td>{{user.username}}</td>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.email}}</td>
        <td>
          <a class="btn btn-info" href="{{path("admin_dashboard_publications_user",{id:user.id})}}">Publications</a>
          {% if user.enabled == 1 %}
            <a class="btn btn-warning" href="{{path("admin_dashboard_users_display",{id:user.id})}}">Désactiver</a>
          {% else %}
            <a class="btn btn-success" href="{{path("admin_dashboard_users_display",{id:user.id})}}">Activer</a>
          {% endif %}

        </td>
      </tr>
    {% endfor %}
  </tbody>
</div>

</table>

<div class="container">
  <div class="navigation">
      {{ knp_pagination_render(pagination) }}
  </div>
</div>



{% endblock %}
