<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="author" content="Travelly" />
    <meta name="description" content="" />
    <link rel="shortcut icon" href="javascript:;" type="image/png">
    <title>Panel d'administration - WonderSocial</title>
    <!--right slidebar-->
    <link href="/admin/css/slidebars.css" rel="stylesheet">
    <!--iCheck-->
    <link href="/admin/css/owl.carousel.css" rel="stylesheet">
    <!--common style-->
    <link href="/admin/css/style.css" rel="stylesheet">
    <link href="/admin/css/style-responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/dropzone.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/admin/js/html5shiv.js"></script>
    <script src="/admin/js/respond.min.js"></script>
    <![endif]-->
    {% block stylesheets %}{% endblock %}

</head>

<body class="sticky-header {{ app.request.attributes.get('_route') }}">
    <section>
        <!-- sidebar left start-->
        <div class="sidebar-left">
            <!--responsive view logo start-->
            <div class="logo dark-logo-bg visible-xs-* visible-sm-*">
                <a href="/administration">
                    <span class="brand-name">WonderSocial</span>
                </a>
            </div>
            <!--responsive view logo end-->
            <div class="sidebar-left-info">
                <!-- visible small devices start-->
                <div class=" search-field"> </div>
                <!-- visible small devices end-->
                <!--sidebar nav start-->
                {% include 'layout/admin/_sidebar.html.twig' %}
                <!--sidebar nav end-->
            </div>
        </div>
        <!-- sidebar left end-->
        <!-- body content start-->
        <div class="body-content">
            <!-- header section start-->
                {% include 'layout/admin/_header.html.twig' %}
            <!-- header section end-->
            <!-- page head start-->
            <div class="page-head">
                <h3>
                    {% block title %}{% endblock %}
                </h3>
                <span class="sub-title">
                    {% block subtitle %}{% endblock %}
                </span>
            </div>
            <!-- page head end-->
            <!--body wrapper start-->
            <div class="wrapper">
                {% block body %}{% endblock %}
            </div>
            <!--body wrapper end-->
            <!--footer section start-->
            <footer>
                2017 - Tous droits réservés par WonderSocial
            </footer>
            <!--footer section end-->
            <!-- body content end-->
    </section>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/admin/js/scripts.js"></script>
    <script src="/admin/js/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="/admin/js/icheck/skins/icheck.min.js"></script>
    <script src="/admin/js/todo-init.js"></script>
    <script src="/admin/js/jquery-countTo/jquery.countTo.js" type="text/javascript"></script>
    <script src="/js/dropzone.jquery.js">

    </script>
    {% block javascripts %}{% endblock %}
</body>

</html>
