<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>{% block title %}{% endblock %}</title>
  {% block stylesheets %}{% endblock %}
  <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Pacifico">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Permanent+Marker"> 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class=" {{ app.request.attributes.get('_route')}}">

  <header id="header">
    {% include 'header.html.twig' %}
  </header>
  <div class="">
    {% for type, flash_messages in app.session.flashBag.all %}
      {% for flash_message in flash_messages %}
      <div class="alert alert-{{ type }}">
        {{ flash_message }}
      </div>
      {% endfor %}
    {% endfor %}
  </div>
  <body>
    {% include 'sidebar_profile.html.twig' %}
  </body>

  {% block body %}{% endblock %}
    
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {% block javascripts %}{% endblock %}
</body>
<footer>
</footer>
</html>
