

{% if app.user is null %}
  <div class="header_disconnected"> 
    <img src="/images/WonderSocial-logo.png">

	   <div class="pull-right">
  		<form action="{{ path("fos_user_security_check") }}" method="post" class="form-horizontal">

    		<div class="username">
      			<label for="username" class="control-label">Login</label>
      			<input type="text" id="username" name="_username" class="login username form-control" required="required" />
    		</div>
    		<div class="password">
      			<label for="password" class="control-label">Mot de passe</label>
      			<input type="password" id="password" name="_password" required="required" class="login password form-control" />
    		</div>
    

    		<input type="hidden" name="_csrf_token" value="{{ login_csrfToken }}" />
    
    		<button type="submit" id="_submit" name="_submit" class="btn login btn-info">OK</button>

    		<br>
    		<div class="clear"></div>

    		<div class="remember">
      			<label for="remember_me" class="control-label">Se souvenir de moi</label>
      			<input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    		</div>
    
    	</form>
	 </div>
  </div>

{% else %}

  <div class="header_connected">

  <img src="/images/WonderSocial-logo.png">
  
  
	<div class="search_profile_header">
    <form class="" action="{{path('search')}}" method="post">
      <div class="div_search">
        <input class="search_profile form-control" type="text" name="search_word" value="" placeholder="Rechercher un profil">
        <button class="btn search btn-info" type="submit" name="button">OK</button>
      </div>

    </form>
  </div>
  

  <div class="header_links pull-right"> 
    <div>
      <a href="{{path("news")}}">Accueil</a>
    </div>
    <div>
      <a href="{{path("allMessages")}}">Messages ({{app.user.messagesNotSeen}})</a>
    </div>
    <div>
      <img src="/uploads/medias/{{app.user.profilePicture}}" alt="">
      <a href="{{path("my_profile", {id:app.user.id, username:app.user.username})}}">Mon profil</a>
    </div>
    <div>
      <a href="{{path("fos_user_security_logout")}}">Déconnexion</a>
    </div>
  </div>

  <div class="clear"></div>

</div>

{% endif %}
