{% if app.user is not null %}

	<div class="sidebar_default">
		<div class="picture_name">
			<img src="/uploads/medias/{{app.user.profilePicture}}" alt="">
			<h3>{{app.user.username}}</h3>
		</div>
		<a href="{{path("addTextPublication", {id:app.user.id, username:app.user.username})}}">Publier</a>
		
		<a href="{{path("allMessages")}}">Messages ({{app.user.messagesNotSeen}})</a> 
		
		<a href="{{path("allFollowed", {id:app.user.id})}}">Mes abonnements ({{app.user.followedCount}})</a>
		
		<a href="{{path("allFollowers", {id:app.user.id})}}">Mes followers ({{app.user.followersCount}})</a>
	</div>


{% endif %}