div.search_profile {
  margin: 30px 30px 0;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 45px;
  h3 {
    font-family: 'Pacifico', sans-serif;
    font-size: 34px;
  }
  form {
    padding-top: 20px;
    div.search {
      width: 600px;
      margin: 0 auto;
      padding-left: 40px;
    }
    input.search_profile {
      float: left;
      width: 80%;
    }
    button.search {
      margin-left: 5px;
    }
  }
}

div.search_profile_header{
  form {
    input.search_profile {
      float: left;
      width: 320px;
    }
  }
}

div.inscription {
  text-align: center;
  padding-top: 45px;
  background: #f0f0f0;
  h2 {
    font-family: 'Permanent Marker', sans-serif;
    font-size: 40px;
    margin-bottom: 25px;
    margin-top: 0;
  }

  form {
    margin: 0 210px;

    div.register{
      margin-right: 70px;
      input {
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      }
    }

    div.birthdate{
      width: 454px;
      display: block;
      margin: 30px auto 0;

      label {
        margin : 0;
      }

      div.col-sm-5 {
        margin-right: 0px;
        div {
          position: relative;
          top: 20;
          width: 220px;
        }
      }
    }

    div.gender {
      margin-right: 0;
      label {
        margin-right: 0px;
        width: 140px;
        margin-left: -113px;
      }
    }

    div.captcha {
      position: relative;
      right: 60px;
    }

    div.btn_register {
      padding-bottom: 30px;
    }

    label {
      margin: 20px;
      width: 115px;
    }

    label.birthday,
    label.gender {
      width: auto;
    }
    label.gender {
      margin-left: 4px;
    }
  }


}
