{{ form_start(form, {attr: {class: "textarea form_textPublication"}}) }}

{{ form_widget(form.content, {attr: {class: "textarea form-control"}}) }}
{{ form_widget(form.fileName, {attr: {class: "fileName", required:false}}) }}
{{ form_widget(form.send, {attr: {class: "publishText btn btn-info pull-right"}}) }}

{{ form_end(form) }}