{{ form_start(form, {attr: {class: "form_changeProfile"}}) }}
  <div>

	  <div class="modify div_firstName">
      {{ form_label(form.firstName, "Prénom :") }}
      {{ form_widget(form.firstName, {attr: {class: "firstName form-control"}}) }}
    </div>

    <div class="modify div_lastName">
      {{ form_label(form.lastName, "Nom de famille :") }}
      {{ form_widget(form.lastName, {attr: {class: "lastName form-control"}}) }}
    </div>

    <div class="modify div_city">
      {{ form_label(form.city, "Ville :") }}
      {{ form_widget(form.city, {attr: {class: "city form-control"}}) }}
    </div>

    <div class="modify div_country">
      {{ form_label(form.country, "Pays :") }}
      {{ form_widget(form.country, {attr: {class: "country form-control"}}) }}
    </div>

    <div class="modify div_gender">
      {{ form_label(form.gender, "Sexe :") }}
      {{ form_widget(form.gender, {attr: {class: "gender form-control"}}) }}
    </div>

    <div class="modify div_profilePicture">
      {{ form_label(form.gender, "Photo :") }}
      {{ form_widget(form.profilePicture, {attr: {class: "profilePicture", required:false}}) }}
    </div>


        

    <div class="modify btn_modify">
      {{ form_widget(form.send, {attr: {class: "btn btn-success"}}) }}
    </div>

  </div>

{{ form_end(form) }}