{{ form_start(form) }}

    <div class="chat_input">
      {{ form_widget(form.content, {attr: {class: "chat form-control", placeholder: "Votre message..."}}) }}
    </div>
    
    {{ form_widget(form.send, {attr: {class: "pull-right btn btn-info"}}) }}
    
  
{{ form_end(form) }}