<div class="cont-comment container">
	<img src="/uploads/medias/{{comment.user.profilePicture}}" alt="">
  	<a class="name-user" href="{{path("profile", {id:comment.user.id, username:comment.user.username})}}">{{comment.user.username}}</a>
  	<h4 class="pull-right">{{comment.createdAt|date("d/m/Y")}}</h4>
  	<div class="clear"></div>
  	<div class="comment-text">
    	<p class="comment-content">{{comment.content}}</p>
    </div>
</div>
