{{ form_start(form) }}

    <div class="comment">
      <br>
      {{ form_widget(form.content, {attr: {class: "comment form-control", placeholder: "Votre commentaire..."}}) }}
    </div>
    
    {{ form_widget(form.send, {attr: {class: "btn btn-info"}}) }}
    
  
{{ form_end(form) }}
