<div class="discussion">
	<a href="{{path("chat", {id:discussion.id})}}">
		{% if discussion.userOne == app.user %}
			<img src="/uploads/medias/{{discussion.userTwo.profilePicture}}" alt="">
			<h2>{{discussion.userTwo.username}}</h2>
		{% else %}
			<img src="/uploads/medias/{{discussion.userOne.profilePicture}}" alt="">
			<h2>{{discussion.userOne.username}}</h2>
		{% endif %}
		<h3 class="pull-right">Messages non vus : {{discussion.notSeen}}</h3>
	</a>
</div>