<div class="follower">
	<img src="/uploads/medias/{{follower.profilePicture}}" alt="">
	<a class="name" href="{{path("profile", {id:follower.id, username:follower.username})}}">{{follower.username}}</a>
</div>