<div class="follower">
	<img src="/uploads/medias/{{followed.profilePicture}}" alt="">
	<a class="name" href="{{path("profile", {id:followed.id, username:followed.username})}}">{{followed.username}}</a>
	<br>
	<a class="btn btn-info" href="{{path("unfollow", {username:followed.username, where:'followed'})}}">Ne plus suivre</a>
</div>