  <div class="publication">
    <div class="publication_header">
      <img src="/uploads/medias/{{publication.user.profilePicture}}" alt="">
      <a href="{{path("profile", {id:publication.user.id, username:publication.user.username})}}">{{publication.user.username}}</a>
      <h4 class="pull-right">{{publication.createdAt|date("d/m/Y")}}</h4>
    </div>
    {% if publication.content is not null %}
      <div class="publication_content">
        <p>{{publication.content}}</p>
      </div>
    {% endif %}
    {% if publication.fileName is not null %}
      <div class="publication_image">
        <img src="/uploads/medias/{{publication.fileName}}" alt="">
      </div>
    {% endif %}
    <div class="publication_footer">
      <div class="div_likes col-xs-6">
        <span class="counter">{{publication.likesCount}} </span>
        <i class="fa fa-thumbs-up" aria-hidden="true"></i>

        {% if publication.id in likedPublications %}
          <a class="pub likes" href="" data-href="{{path("publications_interact", {id:publication.id, username:publication.user.username})}}">Je n'aime plus</a>
        {% else %}
          <a class="pub" href="" data-href="{{path("publications_interact", {id:publication.id, username:publication.user.username})}}">J'aime</a>
        {% endif %}
      </div>

      <div class="div_comments col-xs-6">
        <a class="comments pull-right" href="{{path("publicationInfo", {id:publication.id})}}">{{publication.commentsCount}} commentaires</a>
      </div>
      <div class="clear"></div>
       
      
    </div>
  </div>
