{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'EWZRecaptchaBundle:Form:ewz_recaptcha_widget.html.twig' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
  <div class="container">
    <br>
    <div class="col-md-6 {% if not form.username.vars.valid %}has-error{% endif %}">
      {{ form_label(form.username, "Votre nom d'utilisateur") }}
      {{ form_widget(form.username, {attr: {class: "form-control"}}) }}
      {{ form_errors(form.username) }}
    </div>

    <div class="col-md-6 {% if not form.email.vars.valid %}has-error{% endif %}">
      {{ form_label(form.email, "Votre adresse e-mail") }}
      {{ form_widget(form.email, {attr: {class: "form-control"}}) }}
      {{ form_errors(form.email) }}
    </div>

    <div class="col-md-6 {% if not form.plainPassword.first.vars.valid %}has-error{% endif %}">
      {{ form_label(form.plainPassword.first, "Votre mot de passe") }}
      {{ form_widget(form.plainPassword.first, {attr: {class: "form-control"}}) }}
      {{ form_errors(form.plainPassword.first) }}
    </div>

    <div class="col-md-6 {% if not form.plainPassword.second.vars.valid %}has-error{% endif %}">
      {{ form_label(form.plainPassword.second, "Votre mot de passe de confirmation") }}
      {{ form_widget(form.plainPassword.second, {attr: {class: "form-control"}}) }}
      {{ form_errors(form.plainPassword.second) }}
    </div>

    <div class="col-md-6 {% if not form.firstName.vars.valid %}has-error{% endif %}">
      {{ form_label(form.firstName, "Votre prénom") }}
      {{ form_widget(form.firstName, {attr: {class: "form-control"}}) }}
      {{ form_errors(form.firstName) }}
    </div>

    <div class="col-md-6 {% if not form.lastName.vars.valid %}has-error{% endif %}">
      {{ form_label(form.lastName, "Votre nom") }}
      {{ form_widget(form.lastName, {attr: {class: "form-control"}}) }}
      {{ form_errors(form.lastName) }}
    </div>

    <div class="col-md-6 {% if not form.birthdate.vars.valid %}has-error{% endif %}">
      {{ form_label(form.birthdate, "Votre nom") }}
      {{ form_widget(form.birthdate, {attr: {class: "form-control"}}) }}
      {{ form_errors(form.birthdate) }}
    </div>



    <div class="col-md-3 col-md-offset-4">
      <br>
      {{ form_widget(form.recaptcha, { 'attr': {
      'options' : {
          'theme': 'light',
          'type': 'image',
          'size': 'normal'
        },
      } }) }}
    </div>
    <div class="clear"></div>


    <div class="btn-register">
      <br>
      <button type="submit" class="btn btn-primary"> S'enregistrer</button>
    </div>
  </div>
{{ form_end(form) }}
