body.admin_dashboard_publications,
body.admin_dashboard_publications_user {
  th.id {
    min-width: 5%;
    max-width: 5%;
  }
  th.text {
    min-width: 50%;
    max-width: 50%;
  }
  th.img {
    min-width: 25%;
    max-width: 25%;
  }
  th.actions {
    min-width: 20%;
    max-width: 20%;
  }
}
