@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@import "node_modules/compass-mixins/lib/compass";
@import "bootstrap.scss";
@import "home/style.scss";
@import "profile/style.scss";
@import "textPublication/style.scss";
@import "followers/style.scss";
@import "publicationInfo/style.scss"; 
@import "discussion/style.scss"; 
@import "chat/style.scss"; 

body{
  font-family: "Open Sans" , sans-serif;
  background: #fff;
}
div.clear{
  clear:both;
}

header {
  background-color: #63c0d5;
  padding: 20px;
  border-bottom: 1px solid black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 130px;
  z-index: 99999;
  div.header_disconnected {
  	img {
    	height: 90px;
  	}
  	form {
    	label {
      		font-size: 15px;
      		padding-left: 3px;
    	}
    	input.login {
      		width: 250px;
    	}
    	div.username,
    	div.password { 
      		float: left;
      		padding: 10px;
    	}
    	button.login {
      		position: relative;
      		top: 39px;
      		margin-right: 50px; 
      		margin-left: 10px;
      		width: 55px;
      		height: 35px;
      		background-color: #6584a8;
      		border-color: #455b6e;
    	}

    	div.remember {
      		position: relative;
      		bottom: 10px;
      		left: 15px;
    	}
  	}
  }
  div.header_connected {
  	img {
    	height: 90px;
    	float: left;
  	}
  	div.search_profile_header{
  		position: relative;
  		top: 31px;
  		left: 8px;
  		float: left;
  		form {
    		input.search_profile {
      			width: 350px;
    		}
        button {
          background: #3a92ad;
          border-color: #3a92ad;
        }	
  		}
	}
	div.header_links {
		position: relative;
		top: 31px;
		div {
			display: inline-block;
			margin : 0 15px;
			a {
				font-size: 23px;
				text-decoration: none;
				color: #323233;

				&:hover {
					color: white;
				}

			}
			img {
					height: 35px;
					margin-right: 5px;
					border: 1px solid black;
          border-radius: 50%;
				}
		}
		div:last-child {
			a {
				color: #bc0918;

				&:hover {
				color: darken(red, 20%);
				}
			}

		}

	}


  }
}

div.sidebar_default {
	margin-top: 130px;
	text-align: center;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: 250px;

	div.picture_name {
		margin-top: 30px;
		margin-bottom: 20px;
		img {
			height: 120px;
      border: 1px solid black;
      border-radius: 20px;
		}
		h3 {
			margin-top: 10px;

		}
	}
	a {
		display: block;
		margin-bottom: 6px;
		font-size: 16px;
		text-decoration: none;

		&:hover {
			background: #e0dbdb
		}
	}
	a {
		margin-bottom: 12px;
	}
}
