div.title-allMessages {
	margin: 170px 0 0 0;
	h1{
		text-align: center;
		margin-left: 275px;
	}
}
div.block.discussions {
	margin: 50px 0 0 275px;
	div.discussion {
		background-color: #eaeaea;
		border: 3px solid #1f5266;
		margin: 15px auto;
		padding: 3px 25px 3px 5px;
		width: 70%;

		a {
			display: block;
			text-decoration: none;
			img,
			h2,
			h3 {
				display: inline-block;
			}

			h2,
			h3 {
				color: black;
			}

			img {
				height: 70px;
				margin-right: 5px;
			}

			h2 {
				margin-top: 11px;

			}
		}
		
	}
}