body.waiting * {
    cursor: progress;
}

div.header_profile {
	margin-left: 410px;
	h1.h1_profile {
		margin-top: 150px;
		padding-top: 38px;
		display: inline-block;
	}
	h1.h1_my_profile {
		margin-top: 170px;
		display: inline-block;
	}

	img.profilePictureUserProfile {
		margin-right: 10px;
		display: inline-block;
		height: 110px;
		border: 1px solid black;
	}
	a:not(.send_message) {
		display: inline-block;
		margin-left: 20px;
		margin-bottom: 14px;
		background-color: #63c0d5;
		border-color: darken(#63c0d5, 10%);

	}
	a.send_message {
		display: inline-block;
		margin-left: 20px;
		margin-bottom: 14px;
		background-color: #aaaeb0;
		border-color: #929292;

		&:hover {
			background-color: #848484;
		}
	}
}


div.publications {
	div.publication {
		width: 30%;
		border: 2px solid #b6d5e6;
		margin: 20px auto;
		border-radius: 7px;

		div.publication_header {
			img {
				height: 75px;
				display: inline-block;
				margin: 5px;
			}
			a {
				display: inline-block;
				margin-left: 10px;
				font-size: 27px;
				text-decoration: none;
			}
			h4 {
				display: inline-block;
				margin: 20px 10px 0 0;
				font-size: 14px;
			}
		}
		div.publication_content {
			margin: 20px 0 0 17px;
			p {
				font-size: 18px;
			}
		}
		div.publication_image {
			margin: 5px;
			img {
				width: 100%;
			}
		}
		div.publication_footer {
			margin: 10px 0;
			div.div_likes {
				span {
					font-size: 17px;
				}
				i {
					font-size: 19px;
					color: #25879e;
				}
				a {
					margin-left: 8px;
					font-size: 17px;
				}
			}
			div.div_comments {
				a.comments {
					margin-right: 8px;
					font-size: 17px;
				}
			}
			
			
		}
	}
}
div.div_modify {
	margin-top: 150px;
	position: fixed;
	top: 0;
	right: 100px;
	border: 2px solid black;
	padding: 30px 65px 30px 30px;

	h2 {
		text-align: center;
	}

	form {
		width: 210px;

		div.modify {
			margin-bottom: 15px;
		}

		div.btn_modify {
			text-align: center;
		}
	}

}