div.publicationInfo {
	margin-top: 220px;
	div.publications {
		div.publication {
			width: 44%;
		}
	}
	div.commentForm {
		width: 60%;
		margin: auto auto;

		div.comment {
			width: 93%;
			//display: inline-block;
			float: left;

			textarea {
				min-height: 45px;
				height: 45px;
				resize:vertical;
			}
		}
		button {
			width: 6%;
			position: relative;
			top: 20px;
			left: 2px;
			height: 45px;
		}
	}
	h2.title-comments {
		width: 60%;
		margin: 20px auto;
		color: #574f4f;
	}
	div.comments {
		width: 60%;
		margin: 20px auto 0;
		
		div.cont-comment {
			border: 1px solid #959bb9;
			margin-bottom: 7px;
			width: 100%;
			img {
				height: 70px;
				float: left;
				margin-top: 4px;
			}
			a.name-user {
				font-size: 24px;
				position: relative;
				top: 18px;
				left: 4px;
			}
			h4 {
				font-size: 14px;
				margin-top: 20px;
			}
			div.comment-text{
				margin: 0px 0 5px 82px;
				p.comment-content {
					font-size: 22px;
				}
			}
			
		}

		
	}


}