div.header_allFollowers {
	margin-top: 185px;
	text-align: center
}
div.followers {
	margin-left: 250px;
	div.blabla {
		text-align: center;
		div.follower {
			border: 2px solid black;
			margin: 60px 80px;
			width: 240px;
			text-align: center;
			float: left;
			img {
				height: 200px;
				margin: 5px;
				width: 200px;
			}
			a.name {
				font-size: 27px;

			}
			a.btn {
				margin-bottom: 5px;
			}
		}
	}
	
}