{% extends 'base.html.twig' %}
{% block title %}
  Mes Followers
{% endblock %}
{% block body %}
	<div class="header_allFollowers">
		<h1>Mes abonnements</h1>
	</div>
	<div class="block followers">
		<div class="blabla">
			{% for followed in followedList %}
				{% include 'AppBundle:Web:Layout/followed.html.twig'%}
			{% endfor %}
		</div>
		
	</div>

{% endblock %}