{% extends 'base.html.twig' %}
{% block title %}
  Mes Followers
{% endblock %}
{% block body %}
	<div class="header_allFollowers">
		<h1>Mes followers</h1>
	</div>
	<div class="block followers">
		<div class="blabla">
			{% for follower in followers %}
				{% include 'AppBundle:Web:Layout/follower.html.twig'%}
			{% endfor %}
		</div>
		
	</div>

{% endblock %}