{% extends 'base.html.twig' %}
{% block title %}
  Discussions
{% endblock %}
{% block body %}
	<div class="title-allMessages">
		<h1>Vos discussions</h1>
	</div>
	<div class="block discussions">
		{% for discussion in discussions %}
			{% include 'AppBundle:Web:Layout/discussion.html.twig'%}
      {% endfor %}
	</div>
{% endblock %}