{% extends 'base.html.twig' %}
{% block title %}
  Accueil
{% endblock %}
{% block body %}
	<div class="header_chat">
		{% if discussion.userOne == app.user %}
			<img src="/uploads/medias/{{discussion.userTwo.profilePicture}}" alt="">
			<h2>{{discussion.userTwo.username}}</h2>
		{% else %}
			<img src="/uploads/medias/{{discussion.userOne.profilePicture}}" alt="">
			<h2>{{discussion.userOne.username}}</h2>
		{% endif %}
	</div>

	<div class="body_chat">
		<div class="messages">
			
		</div>
		<div class="form_chat">
			{% include 'AppBundle:Web:Layout/chatForm.html.twig'%}
		</div>
	</div>
{% endblock %}