{% extends 'base.html.twig' %}
{% block title %}
  Accueil
{% endblock %}
{% block body %}

  <div class="search_profile">
    <h3>Rechercher un profil</h3>
    <form class="" method="post">
      <div class="search">
        <input class="search_profile form-control" type="text" name="" value="">
        <button class="btn search btn-info" type="submit" name="button">Rechercher</button>
      </div>

    </form>
  </div>

  <div class="inscription">
    <h2>Pas encore inscrit ?</h2>
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
      <div class="register username col-md-6 {% if not form.username.vars.valid %}has-error{% endif %}">
        {{ form_label(form.username, "Pseudo :") }}
        {{ form_widget(form.username, {attr: {class: ""}}) }}
        {{ form_errors(form.username) }}
      </div>

      <div class="register email{% if not form.email.vars.valid %}has-error{% endif %}">
        {{ form_label(form.email, "E-mail :") }}
        {{ form_widget(form.email, {attr: {class: ""}}) }}
        {{ form_errors(form.email) }}
      </div>

      <div class="register password col-md-6 {% if not form.plainPassword.first.vars.valid %}has-error{% endif %}">
        {{ form_label(form.plainPassword.first, "Mot de passe :") }}
        {{ form_widget(form.plainPassword.first, {attr: {class: ""}}) }}
        {{ form_errors(form.plainPassword.first) }}
      </div>

      <div class="register confirmation{% if not form.plainPassword.second.vars.valid %}has-error{% endif %}">
        {{ form_label(form.plainPassword.second, "Confirmation :") }}
        {{ form_widget(form.plainPassword.second, {attr: {class: ""}}) }}
        {{ form_errors(form.plainPassword.second) }}
      </div>

      <div class="register first_name col-md-6 {% if not form.firstName.vars.valid %}has-error{% endif %}">
        {{ form_label(form.firstName, "Prénom :") }}
        {{ form_widget(form.firstName, {attr: {class: ""}}) }}
        {{ form_errors(form.firstName) }}
      </div>

      <div class="register last_name{% if not form.lastName.vars.valid %}has-error{% endif %}">
        {{ form_label(form.lastName, "Nom de famille :") }}
        {{ form_widget(form.lastName, {attr: {class: ""}}) }}
        {{ form_errors(form.lastName) }}
      </div>
<div class="clear"></div>
      <div class="birthdate {% if not form.birthdate.vars.valid %}has-error{% endif %}">
        <div class="pull-left">
          {{ form_label(form.birthdate, "Date de naissance :", { 'label_attr': {'class': 'birthday'} }) }}
        </div>
        <div class="col-sm-5">
        {{ form_widget(form.birthdate, {attr: {class: ""}}) }}
        {{ form_errors(form.birthdate) }}

        </div>
      </div>

      <div class="clear"></div>

      <div class="register gender{% if not form.gender.vars.valid %}has-error{% endif %}">
        {{ form_label(form.gender, "Sexe :") }}
        {{ form_widget(form.gender, {attr: {class: ""}}) }}
        {{ form_errors(form.gender) }}
      </div>

      <div class="captcha col-md-offset-5 {% if not form.recaptcha.vars.valid %}has-error{% endif %}">
        <br>
        {{ form_widget(form.recaptcha, { 'attr': {
        'options' : {
            'theme': 'light',
            'type': 'image',
            'size': 'normal'
          },
        } }) }}
      </div>
      <div class="clear"></div>

      <div class="btn_register btn-register">
        <br>
        <button type="submit" class="btn btn-success"> S'enregistrer</button>
      </div>
    </div>

  {{ form_end(form) }}

{% endblock %}