{% extends 'base.html.twig' %}
{% block title %}
  Mon profil
{% endblock %}
{% block body %}
<div class="header_profile">
	<h1 class="h1_my_profile">Mon profil</h1>

</div>
<div class="block publications">
	{% for publication in publications %}
		<br>
		{% include 'AppBundle:Web:Layout/myPublication.html.twig'%}

    {% endfor %}
</div>

<div class="div_modify">
	<h2>Mes infos</h2>
	{% include 'AppBundle:Web:Layout/changeProfileForm.html.twig'%}
</div>

{% endblock %}

{% block javascripts %}
   <script>
   jQuery(document).ready(function($) {
   $('.pub').on('click', function(event) {
         event.preventDefault();
         $this = $(this);
         var counter = $(this).parent().find('.counter');

         if ($(this).text() == "J'aime"){
            $(this).text("Je n'aime plus");
            counter.html(parseInt(counter.html(), 10)+1);
         } else {
            $(this).text("J'aime");
            counter.html(parseInt(counter.html(), 10)-1);
         }
         $(this).toggleClass('likes');
         

         $.ajax({
            url: $(this).data('href'),
            beforeSend: function() {
               console.log($this.data('href'));
            },
            success: function() {
               console.log("Success");
            }
         });

         return false;
      });
      
      });
      
   </script>
 {% endblock %}