{% extends 'base.html.twig' %}
{% block title %}
  Fil d'actualité
{% endblock %}
{% block body %}
	<div class="block publications">
      {% for publication in publications %}
         {{dump(publication.user.username)}}
         <br>
      {% endfor %}
   </div>
{% endblock %}

 {% block javascripts %}
   <script>
   jQuery(document).ready(function($) {
   $('.pub').on('click', function(event) {
         event.preventDefault();
         $this = $(this);
         var counter = $(this).parent().find('.counter');

         if ($(this).text() == "J'aime"){
            $(this).text("Je n'aime plus");
            counter.html(parseInt(counter.html(), 10)+1);
         } else {
            $(this).text("J'aime");
            counter.html(parseInt(counter.html(), 10)-1);
         }
         $(this).toggleClass('likes');
         

         $.ajax({
            url: $(this).data('href'),
            beforeSend: function() {
               console.log($this.data('href'));
            },
            success: function() {
               console.log("Success");
            }
         });

         return false;
      });
      
      });
      
   </script>
 {% endblock %}