{% extends 'base.html.twig' %}
{% block title %}
  Profil
{% endblock %}
{% block body %}
   <div class="header_profile">
      <div class="clear"></div>
      <img class="profilePictureUserProfile" src="/uploads/medias/{{userProfile.profilePicture}}" alt="">
      <h1 class="h1_profile">{{userProfile.username}}</h1>
      {% if isFollowed == false %}
         <a class="btn btn-info" href="{{path("follow", {username:userProfile.username})}}">Suivre</a>
      {% else %}  
         <a class="btn btn-info" href="{{path("unfollow", {username:userProfile.username, where:'profile'})}}">Ne plus suivre</a>
      {% endif %}
      {% if areFriends == true %}
         <a class="send_message btn btn-info" href="">Envoyer un message</a>
      {% endif %}
      
   </div>
   <div class="clear"></div>
   <div class="block publications">
      {% for publication in publications %}
         <br>
         {% include 'AppBundle:Web:Layout/publication.html.twig'%}

      {% endfor %}
   </div>

{% endblock %}

 {% block javascripts %}
   <script>
   jQuery(document).ready(function($) {
   $('.pub').on('click', function(event) {
         event.preventDefault();
         $this = $(this);
         var counter = $(this).parent().find('.counter');

         if ($(this).text() == "J'aime"){
            $(this).text("Je n'aime plus");
            counter.html(parseInt(counter.html(), 10)+1);
         } else {
            $(this).text("J'aime");
            counter.html(parseInt(counter.html(), 10)-1);
         }
         $(this).toggleClass('likes');
         

         $.ajax({
            url: $(this).data('href'),
            beforeSend: function() {
               console.log($this.data('href'));
            },
            success: function() {
               console.log("Success");
            }
         });

         return false;
      });
      
      });
      
   </script>
 {% endblock %}