{% extends 'base.html.twig' %}
{% block title %}
  Publication
{% endblock %}
{% block body %}
	<div class="publicationInfo">
		<div class="block publications">
			{% include 'AppBundle:Web:Layout/publication.html.twig'%}
		</div>
		<div class="commentForm">
			{% include 'AppBundle:Web:Layout/commentForm.html.twig'%}
		</div>
		<div class="clear"></div>
		<h2 class="title-comments">Commentaires :</h2>
		<div class="comments">
			{% for comment in comments %}
				{% include 'AppBundle:Web:Layout/comments.html.twig'%}
			{% endfor %}
		</div>
	</div>
	
{% endblock %}

{% block javascripts %}
   <script>
   jQuery(document).ready(function($) {
   $('.pub').on('click', function(event) {
         event.preventDefault();
         $this = $(this);
         var counter = $(this).parent().find('.counter');

         if ($(this).text() == "J'aime"){
            $(this).text("Je n'aime plus");
            counter.html(parseInt(counter.html(), 10)+1);
         } else {
            $(this).text("J'aime");
            counter.html(parseInt(counter.html(), 10)-1);
         }
         $(this).toggleClass('likes');
         

         $.ajax({
            url: $(this).data('href'),
            beforeSend: function() {
               console.log($this.data('href'));
            },
            success: function() {
               console.log("Success");
            }
         });

         return false;
      });
      
      });
      
   </script>
 {% endblock %}