{% extends 'base.html.twig' %}
{% block title %}
  Ajouter une publication
{% endblock %}

{% block body %}

	<h1 class="title addTextPublication">Exprimez-vous :</h1>
	{% include 'AppBundle:Web:Layout/addTextPublicationForm.html.twig' %}
	

{% endblock %}