h1.addTextPublication {
	margin: 200px 0 0 250px;
}
form.form_textPublication {
	 margin: 0 0 0 250px;
	textarea.textarea {
		width: 95%;
		min-height: 400px;
		resize: vertical;
	}
	button.publishText {
		position: relative;
		top: 20px;
		right: 100px;
	}
}