div.header_chat {
	margin: 150px 0 0;
	text-align: center;
	img {
		height: 90px;
		display: inline-block;
	}
	h2 {
		display: inline-block;
	}
}
div.body_chat {
	margin: 18px 100px 0 295px;
	div.messages {
		border: 2px solid #347189;
		height: 550px;
		overflow-y: scroll;
		margin-bottom: 10px;
	}
	form {
		div.chat_input {
			display: inline-block;
			width: 91.5%;
			textarea {
				border-color: #9ec7d7;
				resize: none;
				
			}
		}
		button {
			display: inline-block;
			width: 8%;
			padding: 19px 0;
			font-size: 22px;

		}
	}
	
}